/******* CSS SUPPORT  *********/

.clear         { clear: both; }
.clear-block   { display: block; }
.float-left    { float: left; }
.float-right   { float: right; }
.nobullet      { list-style: none; list-style-image: none; }

/* CLEARFIX */
/*Add a .clearfix class to the element you need to have expand: (the 'container')*/
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}/* Hide from IE Mac \*/
.clearfix {display:block;}/* End hide from IE Mac */


/******* SPECIFIC STYLES  *********/

.fapi_selector {
	border:  1px solid silver;
	padding:  5px;
}

.fapi_selector ul {
	margin:  0px; padding:  0px;
	min-height: 40px;
	width:  210px;
	padding:  3px;
	border:  2px solid #efefef;
}

/** This class 'css_dropzone' is translatable! **/
.fapi_selector ul.css_dropzone {
  background-image: url('../img/dropzone.png');
  background-repeat: no-repeat;  
}

.fapi_selector ul li {
  width:  200px;
  border:  1px solid silver;
  list-style: none;
  list-style-image: none;
  margin: 5px 5px 5px 0px;
  padding: 3px;
  cursor: hand;  
  cursor: pointer;
  cursor: move;
}

.fapi_selector ul.selector_enabled {
	margin-left:  10px;
}

.fapi_selector ul.selector_disabled li {
	background-color:  #ffcccc;
}

.fapi_selector ul.selector_enabled  li {
	background-color:  #ccffcc;
}

.fapi_selector_nodisplay {
	display:  none;
}
